[submodule "ars-api-gateway"]
	path = ars-api-gateway
	url = https://github.com/thoaidc/ars-api-gateway.git
	branch = main
[submodule "dct-starter-model"]
	path = dct-starter-model
	url = https://github.com/thoaidc/dct-starter-model.git
	branch = main
[submodule "dct-starter-config"]
	path = dct-starter-config
	url = https://github.com/thoaidc/dct-starter-config.git
	branch = main
[submodule "dct-starter-parent"]
	path = dct-starter-parent
	url = https://github.com/thoaidc/dct-starter-parent.git
	branch = main
[submodule "ars-config-server"]
	path = ars-config-server
	url = https://github.com/thoaidc/ars-config-server.git
	branch = main
[submodule "ars-report-service"]
	path = ars-report-service
	url = https://github.com/thoaidc/ars-report-service.git
	branch = main
[submodule "ars-user-service"]
	path = ars-user-service
	url = https://github.com/thoaidc/ars-user-service.git
	branch = main
[submodule "ars-notification-service"]
	path = ars-notification-service
	url = https://github.com/thoaidc/ars-notification-service.git
	branch = main
[submodule "ars-payment-service"]
	path = ars-payment-service
	url = https://github.com/thoaidc/ars-payment-service.git
	branch = main
[submodule "ars-order-service"]
	path = ars-order-service
	url = https://github.com/thoaidc/ars-order-service.git
	branch = main
[submodule "ars-product-service"]
	path = ars-product-service
	url = https://github.com/thoaidc/ars-product-service.git
	branch = main
[submodule "discovery-server"]
	path = discovery-server
	url = https://github.com/thoaidc/discovery-server.git
[submodule "ars-frontend"]
	path = ars-frontend
	url = https://github.com/thoaidc/ars-frontend.git
[submodule "ars-admin-service"]
	path = ars-admin-service
	url = https://github.com/thoaidc/ars-admin-service.git
